# macOS
.DS_Store

# Root build outputs
/.build_status
/out/

# Overlay build outputs
/ovl-KeyX/build/
/ovl-KeyX/ovl-KeyX.elf
/ovl-KeyX/ovl-KeyX.nacp
/ovl-KeyX/ovl-KeyX.ovl

# Sysmodule build outputs
/sys-KeyX/build/
/sys-KeyX/out/
